.logo {
 width: 10%;
 margin: 50px;
}

img {
 width: 100%;
}

h1 {
 text-align: center;
}

#calculator {
 display: flex;
 flex-direction: column;
 width: 280px;
 height: 350px;
 margin:auto;
 background-color: darkgray;
 border: solid 5px #000;
}

#screen {
background-color: gray;
width: 90%;
height: 50px;
margin: 10px auto;
font-size: 2rem;
display: flex;
justify-content: flex-end;
align-items: center;
}

#numbers {
display: flex;
flex-warp: wrap;
}

.number,
.operator {
background-color: yellow;
width: 60px;
height: 60px;
margin: 5px;
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
font-weight: bold;
box-shadow: 3px 3px #888888;
}

.number:active {
box-shadow: 0px 0px;
}

.operator {
background-color: blue;
}

#buttons {
display: flex;
}

#clear {
background-color: orange;
}